@font-face
{
	font-family: "TimesNewRomanMTStd";
	src: url(../fonts/TimesNewRomanMTStd.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "TimesNewRomanMTStd";
	src: url(../fonts/TimesNewRomanMTStd-Italic.otf);
	font-style: italic;
	font-weight: normal;
}
@font-face
{
	font-family: "TimesNewRomanMTStd";
	src: url(../fonts/TimesNewRomanMTStd-Bold.otf);
	font-style: normal;
	font-weight: bold;
}
@font-face
{
	font-family: "TimesNewRomanMTStd";
	src: url(../fonts/TimesNewRomanMTStd-BoldIt.otf);
	font-style: italic;
	font-weight: bold;
}
@font-face
{ 
	font-family: "Arial_Rounded_MT_Bold";
	src: url(../fonts/Arial_Rounded_MT_Bold.ttf);
	font-style: normal;
	font-weight: bold;
}
body
{
	font-family: "TimesNewRomanMTStd";
	margin-right: 2.2em;
        text-align: justify;
        margin-top: 0.01em;
}
.noindent
{
	margin-top: 0.01em;
	margin-bottom: 0.01em;
	text-indent: 0.01em;
}
.indent
{
	margin-top: 0.01em;
	margin-bottom: 0.01em;
	text-indent: 1.2em;
}
.imagefp
{
	margin: 0em;
	text-align: center;
	height: 98%;
}
.halftitle
{
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.center
{
	margin-top: 6.5em;
	margin-bottom: 2.8em;
	text-align: center;
}
.image1
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.copyright
{
	margin-top: 0.6em;
	margin-bottom: 0.01em;
	text-align: center;
}
.copyrighta
{
	margin-top: 1em;
	margin-bottom: 0.01em;
	text-align: center;
}
.copyright1
{
	margin-top: 5em;
	margin-bottom: 1em;
	margin-left: 8em;
	text-indent: 0em;
}
.copyrightb
{
	margin-top: 0.01em;
	margin-bottom: 0.01em;
	margin-left: 8em;
	text-indent: 0em;
}
.copyrightc
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 9.4em;
	text-indent: 0.01em;
}
.copyrightc1
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	margin-left: 9.4em;
	text-indent: 0.01em;
}
.copyrightd
{
	margin-top: 0.01em;
	margin-bottom: 0.01em;
	margin-left: 8em;
	text-indent: 0.01em;
}
.dedic
{
	margin-top: 2em;
	margin-bottom: 0.01em;
	text-align: center;
}
.h2
{
	font-size: 1.8em;
	margin-top: 0.5em;
	margin-bottom: 3.5em;
	text-align: center;
}
.h2a
{
	font-size: 1.8em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}
.h3
{
	font-size: 1em;
        font-weight: bold;
	margin-top: 1.5em;
	margin-bottom: 0.6em;
	margin-left: 2.6em;
	text-indent: 0.01em;
}
.chap
{
	margin-top: 1.5em;
	margin-bottom: 0.01em;
	margin-left: 1.2em;
	text-indent: -1.2em;
}
.back
{
	margin-top: 1.7em;
	margin-bottom: 0.01em;
	margin-left: 3.3em;
	text-indent: 0.01em;
}
.nounder
{
	text-decoration: none;
}
.indexmain
{
	margin-top: 0.01em;
	margin-bottom: 0.01em;
	margin-left: 2.2em;
	text-indent: -2.2em;
}
.indexmain1
{
	margin-top: 1.2em;
	margin-bottom: 0.01em;
	margin-left: 2.2em;
	text-indent: -2.2em;
}
div.promo
{
	margin: 1em;
	font-family: "Arial_Rounded_MT_Bold";
	text-align: center;
}
.promo1
{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em;
}
.promo2 
{
	text-align: center;
	font-size: 1em;
	line-height: 1.4em;
	margin: 1em;
}
.imgcenter 
{
	text-align: center;
	margin: 1em;
}
span.nounder1
{
	text-decoration: underline;
        color: black;
}
.images
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-align: center;
}